@import 'bootstrap';
@import url('https://fonts.googleapis.com/css?family=Quicksand:500|Kaushan+Script|Source+Code+Pro:600|Abril+Fatface|Audiowide|Comfortaa:700|Kelly+Slab&display=swap');


body,
html {
  height: 100%;
  margin: 0px;
  font-family: "Raleway", sans-serif;
}
.themeOne {
    --shade1: #f4f1af;
    --shade2: #e7e283;
    --shade3: #dbd55b;
    --shade4: #dedede;
}

.themeTwo {
    --shade1: #aadff6;
    --shade2: #7ec9e9;
    --shade3: #57b5dd;
    --shade4: #32a1d0;
    --grey1: #dedede;
}

.themeThree {
  --shade1: #c3cacf;
  --shade2: #9ab1c2;
  --shade3: #759bb6;
  --shade4: #5385a9;
   --grey1: #dedede;
}

.themeFour {
  --shade1: #466b8c;
  --shade2: #8c5f46;
  --shade3: #8c8346;
  --shade4: #79468c;
   --grey1: #dedede;
}

.themeFive {
  --shade1: #466b8c;
  --shade2: #8c5f46;
  --shade3: #8c8346;
  --shade4: #79468c;
   --grey1: #dedede;
}
@mixin border-radius($a, $b, $c, $d) {
    -webkit-border-radius: $a $b $c $d;
    -moz-border-radius: $a $b $c $d;
    -ms-border-radius: $a $b $c $d;
    border-radius: $a $b $c $d;
}
@mixin height-calc($percentage, $value) {
    height: -moz-calc(#{$percentage} - #{$value});
    /* WebKit */
    height: -webkit-calc(#{$percentage} - #{$value});
    /* Opera */
    height: -o-calc(#{$percentage} - #{$value});
    /* Standard */
    height: calc(#{$percentage} - #{$value});
}
.outerDiv {
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
    height: 100%;
    width: 100%;
    background-color: var(--shade1);
    transition: all .3s ease-in-out;
}
.innerDiv {
    background: white;
    padding: 0px;

    position: relative;
    min-width: 200px;
    min-height: 200px;
    @include border-radius(9px, 9px, 7px, 7px)
}
.header {

  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--shade3);
  @include border-radius(7px, 7px, 0px, 0px);
  transition: all .3s ease-in-out;
}

.title {
  width: 100%;
  padding-left: 10px;
  font-size: 1.7em;
  font-family: 'Kaushan Script', cursive;
  color: var(--shade2)
}

.textField {
  box-shadow: inset 0px 0px 7px 7px rgba(0, 0, 0, 0.1);
  height: 1.7em;
  background-color: var(--grey1);
  text-align: right;
  padding-right: 5px;
  @include border-radius(3px, 3px, 3px, 3px);
    margin: 8px 5px 8px 5px;
    border: 1px solid black;
    transition: all .3s ease-in-out;
}

.button {
  width: 2.1em;
  padding: 0 0 0 3;
 
}

.button:focus {
  outline: none;
}

.button:hover{
  box-shadow: inset 0 0 1em rgba(255, 255, 255, .4);
  cursor: default; 
}

.input {
  background-color: var(--shade2);
}

.evaluate {
  background-color: var(--shade4);
}

.clear {
  background-color: var(--shade4);
}

