<!DOCTYPE html>
<html lang="en" class="tech-doc">
    <head>

            <link href="/style/tech-doc.css" rel="stylesheet"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            </meta>
        </link>
    </head>
    <body class="themeFive " >
        <nav id="navbar">

            <div class="navlinks">
                <a class="nav-link" href="/" onclick="closeDrawer()">
                    Home
                </a>
                <div class="nav-space">
            </div>
            <div class="navdrawer" id="navdrawer" >
                 <i class="fas fa-caret-right" id="drawer-button" state="closed" onclick="drawerClick(event);"></i>
            </div>
            <script>

                function pageNavigation(event){
                    event.preventDefault();
                    let target = event.target.getAttribute("href");

                    document.getElementById(target).scrollIntoView();
                    closeDrawer();
                    return false;
                }

                function drawerClick (event){
                    let state = event.target.getAttribute("state")

                    if(state=='open'){
                        closeDrawer(event.target)
                        
                    }
                    else{
                        openDrawer(event.target)
                        
                    }
                }

                /**
                * allowed a drawer to be passed in to accomidate click events. 
                * save a look up the drawer if the event already has it. 
                */
                function openDrawer(drawer){

                    if(!drawer)
                        drawer = document.getElementById('navdrawer');

                    let navbar = document.getElementById('navbar')
                    let button = document.getElementById('drawer-button')


                    navbar.style.left =  "0px";
                    button.style.transform = "rotate(180deg)"
                    drawer.setAttribute('state', 'open')
                }

                /**
                * allowed a drawer to be passed in to accomidate click events. 
                * save a look up the drawer if the event already has it. 
                */
                function closeDrawer(drawer){

                    let navbar = document.getElementById('navbar')
                    let button = document.getElementById('drawer-button')
                    if(!drawer)
                        drawer = document.getElementById('navdrawer');

                    // if the drawer is hidden then screen is big and 
                    // drawer functionality should be off
                    if(drawer.offsetParent===null)
                        return

                    navbar.style.left = -(navbar.offsetWidth - navdrawer.offsetWidth) + "px";
                    button.style.transform = "rotate(0deg)";
                    drawer.setAttribute('state', 'close')
                }

                window.onresize = function resetStyle(event){

                    let navbar = document.getElementById('navbar')
                    navbar.style = undefined;
                }

            </script>
        </nav>
        <main class="outerDiv " id="main-doc" onclick="closeDrawer()">

            <h1>
                API and Microservice Development
            </h1>
            <section class="main-section" id="General">
                <p>
                    The following are details outlying the final projects for the APIs and Microservices <a href="https://www.freecodecamp.org/certification/fcc4893b047-b5d0-472e-b76e-3805d9ed0aba/apis-and-microservices">certification</a> from <a href="http://www.freecodecamp.org">FreeCodeCamp.org</a>
                </p>
                <p>
                    The specific libraries covered in the course work include Node.js, Express, MongoDB and Mongoose. As a parallel effort to this work, I picked up the Jest test framework to write all my validation tests for each end point. Finally, I spent some considerable time building an API Container <a href="https://github.com/elchicofrommo/chicoexpress">boilerplate</a> which provided logging, testing, and transpiling that I used for each of the projects below.
                </p>
                <p> 
                    Of all the certifications I went through on <a href="http://www.freecodecamp.org">FreeCodeCamp.org</a> I feel the most confident in the validity of the certification. Already having extensive experience delivering an API gateway at American Eagle Outfitters with Node.js and Express, I was pleased to see many of the core connects were presented in the course work and that the certification tests do accurately validate a student's ability to apply those topics to an engineering solution.
                </p>
                <p>
                    Another observation I would make is that the requirements definitions for each project are extremely vague. Normally during a story walk though I would never allow a team to accept a story with such low resolution. But in the case of the course work I found that it actually forced me (the student) to think though the consequences of different design choices in trying to "guess" product's intent. 
                </p>
                <p>
                    Please consider contributing to <a href="http://www.freecodecamp.org">FreeCodeCamp.org</a> so it may continue to provide free access to educational material for software development. I really believe in their mission. What's more, they are a 501 3c so your donation is tax deductible.
                </p>
            </section>
            
            <section class="main-section" id="Tribute_Page">
                <div class="nav-space"> </div>
                <header>
                    Timestamp Service
                </header>

                <p>
                    A Single end point that returns the timestamp of the API server

                </p>
                <ul class="reactProjectList">

                    <li>
                        <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/timestamp-microservice">Project Requirements</a>
                    </li>
                    <li>
                        <a href="https://github.com/elchicofrommo/fcc_microservices_timestamp" target="_blank">GitHub Repo</a>
                    </li>
                </ul>   


            </section>
   
            <section class="main-section" id="Survey_Form">
                <div class="nav-space"></div>
                <header>
                    Header Parser
                </header>
                <p>
                    A Service that returns the some Header details of the API call in the response object.
                </p>
                <ul class="reactProjectList">

                    <li>
                        <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/request-header-parser-microservice">Project Requirements</a>
                    </li>
                    <li>
                        <a href="https://github.com/elchicofrommo/fcc_microservices_headerparser" target="_blank">GitHub Repo</a>
                    </li>

                </ul>  

            </section>
            <section class="main-section" id="Product_Page">
                <div class="nav-space"></div>
                <header>
                    URL Shortener
                </header>
                <p>
                    A Service to generate a short url. Another endpoint to generate a 302 redirect when that short url is called. 
                </p>              
                <ul class="reactProjectList">

                    <li>
                        <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/url-shortener-microservice">Project Requirements</a>
                    </li>
                    <li>
                        <a href="https://github.com/elchicofrommo/fcc_microservices_shorturl" target="_blank">GitHub Repo</a>
                    </li>
                </ul> 

 
            </section>
  
            <section class="main-section" id="Technial_Documentation">
                <div class="nav-space"></div>
                <header>
                    Exercise Tracker
                </header>
                 <p>
                    A collection of routes to create a user, add an exercise event to that user, and to see all exercise events for a user. 
                </p>
                <ul class="reactProjectList">

                    <li>
                        <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/exercise-tracker">Project Requirements</a>
                    </li>
                    <li>
                        <a href="https://github.com/elchicofrommo/fcc_microservices_fitness" target="_blank">GitHub Repo</a>
                    </li>
                </ul>  

            </section>

            <section class="main-section" id="Portfolio">
                <div class="nav-space"></div>
                <header>
                    File Metadata
                </header>
                <ul class="reactProjectList">

                    <li>
                        <a href="https://www.freecodecamp.org/learn/apis-and-microservices/apis-and-microservices-projects/file-metadata-microservice">Project Requirements</a>
                    </li>
                    <li>
                        <a href="https://github.com/elchicofrommo/fcc_microservice_filemetadata" target="_blank">GitHub Repo</a>
                    </li>
                </ul>
                <p>
                    The Portfolio project serves as the basis for my <a href="/">home</a> page. 
                </p>
                
            </section>

        </main>
    </body>

   <script src="https://cdn.jsdelivr.net/npm/redoc/bundles/redoc.standalone.js"> </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/default.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js">
        </script>
        <script>
            hljs.initHighlightingOnLoad();
        </script>
    </link>
</html>