<html>
<head>
	 <link href="/style/tribute.css" rel="stylesheet"/>
	 <link rel="icon" type="image/svg" href="/assets/favicon.svg" >
</head>
<body>
<div id="main" class="tribute">

  <div id="title" class="tribute">The Father of Computer Science</div>
  <div id="img-div" class="tribute">
    <img src="https://static01.nyt.com/images/2019/06/10/obituaries/10overlooked-alanturing-1/f86fc26c86b444c391fb412bb3dcec76-superJumbo.jpg?quality=90&auto=webp" alt="myimage" id="image" class="tribute"/>
  <div id="img-caption" class="tribute">my image</div>


</div>
<div id="tribute-info" class="tribute">heres some info about my tribute
  for more details see <a href="https://en.wikipedia.org/wiki/Alan_Turing" id="tribute-link" target="_blank" class="tribute">this</a>

</div>
</body>
</html>