@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap|Open+Sans");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');

body,
html {

  margin: 0px;
  height: 100%;

  touch-action: manipulation;

  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}


nav {
	position: fixed;
	top: 0;
	left: -222px;
	width: 240px;
	display: flex;
	justify-content: flex-end;
	z-index: 10;
	
	color: var(--text_nav);
	height: 100%;
	line-height: 3em;
	overflow: hidden;
	transition: left .4s ease-in-out;
}

.navlinks {
	background-color: var(--shade1);
	padding-right: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 16px;
	width: 100%;
}
.navdrawer {
	width: 20px;
	margin-top: 5px;
	line-height: 0px;
	height: fit-content;
	padding: 0px;
	text-align: center;
	border-top-right-radius: 10px 25px ;
	border-bottom-right-radius: 10px 25px;
	background-color: var(--shade1);
}
.navdrawer > i{
	font-size: 35px;
	padding-left: 3px;
	transition: transform .6s ease-in-out;
}

header {
	font-size: 30px;
}

.navlinks > a{
	color: var(--text_nav);
	text-decoration: none;
}

.navlinks >  a:hover {
	color: rgba(255, 255, 255, .3);
}

.nav-space {
	height: 2px;
	width: 100%;

	align-self: center;
	background-color: var(--text_nav);
	
}

.outerDiv {
	height: 100%;
	margin: 0px;
	overflow-x: scroll;
	padding-left: .5em;
	padding-right: .5em;
	background-color: var(--shade2);
}

h1 {
	color: var(--text_h2);
	font-size: 45px;
	text-align: center;
	font-family: 'Poiret One', sans-serif;
}

.outerDiv p {
	font-size: 20px;
}

.outerDiv code {
	background-color: var(--background2);

	display: block;
	padding: 2px 5px 2px 15px;
	border: 1px solid rgba(0, 0, 0, .2);
}

.outerDiv li {

}



@media (min-width: 818px){

	.outerDiv {
		height: 100%;
		margin: 0px 0px 0px 240px;
	}

	.navdrawer {
		display: none;
	}

	nav{
		left: 0px;
	}
	nav > header {
	}
	nav > div {

	}

}
.themeOne {
 
  
  --shade3: #759bb6;
  --shade4: #5385a9;
   --background1: #dedede;
   --background2: #f4f1af;
}

.themeFive {
	  --text_nav: #466b8c;
  --text_h2: #8c5f46;
   --shade1: #c3cacf;
   --shade2: #9ab1c2;
  --shade3: #8c8346;
  --shade4: #79468c;
   --background1: #dedede;
   --background2: #f4f1af;
}

