#image {
  max-width: 600px;
  height: auto;
  display: block;
  width: 80%;
}



div {

  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
#img-caption{

}

