@import 'bootstrap';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css');


@mixin border-radius($x){ 
  -webkit-border-radius: $x;
  -moz-border-radius: $x;
  -ms-border-radius: $x;
  border-radius: $x;
}

body, html {
  height: 100%; 
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

.outerDiv {

  height: 100%;
  width: 100%;
  background: green;
  
}

.innerDiv {
  background: white;
  padding: 40px 20px 40px 20px;
  min-width: 400px;
  max-width: 600px;
  @include border-radius(7px)
  
}
.quoteButton{
  color: white;
  font-weight: bold;
}

#text {
  font-size: 2em ;
}
#author {
  text-align: right;
}



